.mainBx-1 {
  background-color: white;
}

.mainBx-0 {
  background-image: url("../background.jpg");
  height: 230px;
}

.mainBx {
  padding-bottom: 20px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 30px;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.nameBx0 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.nameBx0 > h1 {
  margin-left: 30px;
}

.add-trip-btn {
  user-select: none;
  margin-left: auto;
  margin-right: 10px;
  background-color: rgba(0, 200, 89, 0.81);
  border: 1px solid rgba(0, 200, 89, 0.81);
  color: white;
  width: 72px;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.add-trip-btn:hover {
  background-color: rgba(0, 200, 89, 0.9);
}

.cardBx {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
}
