.trip {
  border-radius: 3px;
  display: flex;
  width: 90%;
  background-color: white;
  box-shadow: 1px 1px 10px 0.1px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}
.r-card {
  border-left: black 1px solid;
  padding-left: 0px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tripName {
  text-align: center;
}
.r-row {
  margin-left: 10px;
}
.r-row,
.Info,
.r-card {
  width: 100%;
}
.cardImage {
  max-width: 100%;
  max-height: 100%;
}
.remove-card-btn {
  border: transparent;
  border-radius: 1px;
  background-color: rgba(201, 201, 201, 0.1);
  font-weight: bold;
  margin-right: 3px;
}
.remove-card-btn:hover {
  background-color: rgba(201, 201, 201, 0.3);
}
/*-------------------*/
.mainCard {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  width: 400px;
  border: 1px solid white;
  box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.3);
}
.mainCard:hover {
}
.right-card {
  display: flex;
}

.right-row {
  border-left: 1px solid;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 30px;
  font-weight: bold;
}

.cardBtn {
  margin-bottom: 10px;
  display: flex;
  margin-left: 210px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: rgba(0, 200, 89, 0.81);
  border: 1px solid rgba(0, 200, 89, 0.81);
}
.cardBtn:hover {
  background-color: rgba(0, 200, 89, 0.9);
}
.tripInfo {
  margin-left: 10px;
  border: 1px solid;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.left-card {
}
